.container {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.button__container {
  width: 40%;
  height: 30%;
  border-radius: 20px;
  border: 2px solid #00286e;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
}

.button {
  width: 80%;
  height: 35%;
  background-color: #00286e;
  color: white;
  font-size: 24px;
  font-weight: 800;
  border-radius: 20px;
  border: none;
  cursor: pointer;
}
